<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://img06.tooopen.com/images/20160922/tooopen_sy_179662854161.jpg</string>
	<string>http://img06.tooopen.com/images/20160913/tooopen_sy_178786212749.jpg</string>
	<string>http://img06.tooopen.com/images/20160907/tooopen_sy_178130971184.jpg</string>
	<string>http://img06.tooopen.com/images/20160916/tooopen_sy_178954788413.jpg</string>
	<string>http://img06.tooopen.com/images/20160727/tooopen_sy_172639817952.jpg</string>
	<string>http://img06.tooopen.com/images/20160712/tooopen_sy_170073044945.jpg</string>
	<string>http://img06.tooopen.com/images/20160712/tooopen_sy_170073131652.jpg</string>
	<string>http://img06.tooopen.com/images/20160918/tooopen_sy_179079234932.jpg</string>
</array>
</plist>
